@model BlogProject.Models.Post
@{
    ViewData["Title"] = "Success";
}

<h1 class="mt-4 text-success">Success.</h1>
<h2 class="text-success">Your comment has been posted.</h2>

<div class="container h-100">
    <div class="row">
        <div class="col img-fluid">
            <img class="img-fluid" src="~/images/comment posted1 .gif" />
        </div>
    </div>
</div>

