@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- End Header -->


    <section id="contact">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12 text-center mb-4">
                    <h1 class="page-title">About</h1>
                </div>
            </div>

            <div class="row mb-3">

                <div class="d-md-flex post-entry-2 half">
                    <a href="#" class="me-4 thumbnail">
                        <img src="~/images/profilepicsm.png" alt="" class="img-fluid">
                    </a>
                    <div class="ps-md-5 mt-4 mt-md-0">
                    
                        <h2 class="mb-4 display-4">Hello.</h2>

                        <h2 class="text-7 fw-550 mb-3"> I'm <span class="text-7 text-primary">Casey Spaulding.</span> </h2>
                        <p class="text-4">From a 20-year career in the U.S. Navy, and two years as a Teacher. Now on my journey to become a Software Developer.  </p>
                        <p class="text-4">I am constantly expanding my knowledge and skills through courses and project-based learning.</p> <p class="text-4"> I love to create, improve and fix things. I think this is why I enjoy software development so much.
                        <p class="text-4">An apprentice of an intensive coding school specializing in .NET applications and full-stack development built with modern development practices.</p>
                        <p class="text-4">I have built several projects that I invite you to check out.  These projects demonstrate the type of skills I have acquired and what I can bring to any project. </p>
                        <p class="text-7"><span class="text-primary">Technical Skill Set:</span></p>
                        <p class="text-6">C# | ASP.NET | MVC | Bootstrap | JavaScript | SQL | HTML5 | CSS3 | Git</p>
                </div>

                

            </div>

        </div>
    </section>

  
  
<!-- End #main -->
