

/*border sweet alert window */

div.swal2-container.swal2-center.swal2-backdrop-show> div {

    outline: 4px solid black;
    border: 2px solid #0026ff;

}

.page-item.active .page-link{
    background-color: black;
    border-color: grey;
}

.page-link {
    color: #808080
}
