@model BlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}


<!-- Post Content -->
<main id="main">

    <section class="single-post-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9 post-content" data-aos="fade-up">

                    <!-- ======= Single Post Content ======= -->
                    @Html.Raw(Model.Content)
                    <!-- Displaying Comments related to this Post -->
                    <!-- Display the image of the Comment's Author -->
                
                    </div><!-- End Single Post Content -->
                <div class="col-md-3">
                    <div class="aside-block">
                        <h3 class="aside-title">Tags</h3>
                        <ul class="aside-tags list-unstyled">
                            <li>
                                @foreach (var tag in Model.Tags)
                                {
                                    <a asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
                                }
                            </li>

                        </ul>
                    </div><!-- End Tags -->
                    
                    

                </div>
            
                <div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-action="Create" asp-controller="Comments" method="post">
                            @Html.Hidden("PostId", Model.Id)

                            <div class="form-group">
                                <label class="h2 control-label font-weight-bold">Add Comment</label>
                                <textarea name="body" class="form-control" rows="10"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary"> Submit</button>


                        </form>

                    }
                    else
                    {
                        <a class="btn btn-dark" asp-area="Identity" asp-page="/Account/Login">
                            Login to Add Comments
                        </a>

                    }
                </div>
            </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->


<!-- Displaying Comments related to this Post -->
<!-- Display the image of the Comment's Author -->