@model BlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            @Html.Raw(Model.Content)
    <!-- Post content-->
       
        </div>
    </div>
</div>
